@mixin flex($type) {
    display: flex;
    flex-direction: $type;
    flex-wrap: wrap;
    align-items: center;
}

@mixin padding_body {
    padding: 2rem 1.2rem;
}

@mixin margin_BotTop($value) {
    margin: $value 0;
}

@mixin gradient_button {
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,1) 1%, rgba(147,86,220,1) 93%);
}

@mixin button {
    padding: 1.2rem;
    border: none;
    border-radius: 2rem;
}

@mixin choise {
    border: none;
    border-radius: $border_radius_choises;
}

@mixin animation($nameAnimation, $time, $direction) {
    animation: $nameAnimation $time;
    transform-origin: $direction;
    animation-fill-mode: forwards;
}