@mixin flex($type) {
    display: flex;
    flex-direction: $type;
    flex-wrap: wrap;
    align-items: center;
}

@mixin padding {
    padding: 2rem 1.2rem;
}

@mixin gradient_button {
    background: rgb(255,121,218);
    background: linear-gradient(180deg, rgba(255,121,218,1) 1%, rgba(147,86,220,1) 93%);
}

@mixin button {
    color: map-get($map: $colors, $key: color-white);
    font-size: map-get($map: $font-size, $key: paragraphes);
    padding: 1.2rem;
    border: none;
    border-radius: 2rem;
}