$max-pourcent : 100%;

$colors :(
    color-primary: #9356DC,
    color-secondary: #FF79DA,
    color-tertiary: #99E2D0,
    color-new: rgb(166, 239, 166),
    color-white: #fff,
    color-gray: rgb(57, 57, 57),
);

$font_size :(
    logo: 2em,
    icons: 1.5em,
    headers: 1.4em,
    paragraphes: 1.1em,
    legends: 0.8em,
);

$button-style:(
    &--pink:(

    ),
);