.card{
    background-color: map-get($map: $colors, $key: color-white);
    width: 100%;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    box-shadow: 0.1em 10px 20px lighten($color: map-get($map: $colors, $key: color-gray), $amount: 50);
    @media screen and (min-width:1200px) {
        width: 46%;
        margin: 0.5rem;
    }
    &__image{
        position: relative;
        > img{
            object-fit: cover;
            width: 100%;
            height: 170px;
        }
        &__info{
            position: absolute;
            right: 1rem;
            top: 1rem;
            background-color: map-get($map: $colors, $key: color-tertiary);
            color: darken($color: map-get($map: $colors, $key: color-tertiary), $amount: 40%);
            padding: 0.5em 0.8rem;
            font-size: map-get($map: $font_size, $key: legends);
        }
    }
    &__description{
        @include flex(row,wrap);
        margin: 0 1.5rem 0 0.8rem;
        justify-content: space-between;
        &__title{
            margin: 0.5rem 0;
            font-size: map-get($map: $font_size, $key: paragraphes);
        }
    }
}