.card{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    box-shadow: 0.1em 10px 20px map-get($map: $colors, $key: color-shadow);
    &__image{
        position: relative;
        > img{
            object-fit: cover;
            width: 100%;
            height: 170px;
        }
        > span{
            position: absolute;
            right: 1rem;
            top: 1rem;
            background-color: map-get($map: $colors, $key: color-new);
            color: darken($color: map-get($map: $colors, $key: color-new), $amount: 40%);
            padding: 0.5em 0.8rem;
            font-size: map-get($map: $font_size, $key: legends);
        }
    }
    &__description{
        @include flex(row);
        margin: 0 1.5rem 0 0.8rem;
        justify-content: space-between;
        &__title{
            margin: 0.5rem 0;
            font-size: map-get($map: $font_size, $key: paragraphes);
        }
        &__icon{
            font-size: map-get($map: $font_size, $key: headers);
            --fa-primary-color: darkgreen;
            --fa-secondary-color: silver;
        }
    }
}