.checkbox{
    @include flex(row,nowrap);
    overflow: hidden;
    background-color: map-get($map: $colors, $key: color-tertiary);
    @include choise;
    @include margin_BotTop(1rem);
    animation: choise $time_animation 3s ease-in-out both;
    @for $i from 1 through $nombre_choise {
        &--#{$i} {
            animation-delay: 3s + (100ms * $i);
         }
    }
    &__label{
        width: 100%;
        z-index: 1;
        background-color: map-get($map: $colors, $key: color-white);
        box-sizing: content-box;
        padding: 0.7rem;    
        @include flex(row,nowrap);
        align-items: flex-end;
        justify-content: space-between;
        overflow: hidden;
        cursor: pointer;
        &__header{
            text-align: left;
            box-sizing: content-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            > span{
                &:first-child{
                    font-weight: bold;
                }
                &:last-child{
                    font-size: map-get($map: $font_size, $key: legends);
                }
            }
        }
        &__price{
            box-sizing: content-box;
            font-weight: bold;
            padding-right: 0.5rem;
        }
    }
    &__select{
        text-align: center;
        line-height: .5rem;
        box-sizing: content-box;
        > input[type="checkbox"]{
            cursor: pointer;
            appearance: none;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 100%;
            background-color: map-get($map: $colors, $key: color-white);
            cursor: pointer;
            &:checked {
                padding: 0.16rem;
                &::after {
                    @include afterCheckbox;
                }
            }
            &:not(:checked) {
                padding: 0.16rem;
                &::after {
                    @include afterCheckbox;
                }
            }
        }
    }
    &:hover > .checkbox__select{
        animation: checkbox 400ms both;
    }
    &:not(:hover) > .checkbox__select{
        animation: checkboxReturn 400ms both;
    }
}