.hearst{
    width: 25px;
    height: 25px;
    position: relative;
    font-size: map-get($map: $font_size, $key: headers);
    z-index: 1;
    > i{
        cursor: pointer;
        position: absolute;
        background-color: map-get($map: $colors, $key: color-white);
        &:first-child{
            z-index: 1;
            @include animation_hearst(200ms);
            &:hover{
                opacity: 0;
            }
        }
        &:last-child{
            @include gradient_button;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    &--restaurants{
        margin-right: 1rem;
        > i{
            background-color: lighten($color: map-get($map: $colors, $key: color-gray), $amount: 75);
        }
    }
}