@keyframes hearst {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0 1em;
  text-align: center;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.header {
  position: relative;
}
.header__logo {
  height: 2rem;
  margin: 0;
  padding: 1.5rem 0.2rem 0.6rem 0.2rem;
}
.header__icon {
  position: absolute;
  left: 1.5rem;
  top: 1.2rem;
  font-size: 1.5em;
}

.recherche {
  background-color: #f8f8f8;
  padding-bottom: 3rem;
}
.recherche__form__description {
  padding: 2rem 1.2rem;
}
.recherche__form__input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  box-shadow: inset 0 0.1em 10px #b9b9b9;
  background-color: #ececec;
}
.recherche__form__input > input {
  background-color: #ececec;
  border: 0;
  text-align: center;
  width: 40%;
}
.recherche__form__input > input:focus {
  outline: none;
}
.recherche__form__titre {
  font-size: 1.4em;
}

.button {
  color: #fff;
  font-size: 1.1em;
  padding: 1.2rem;
  border: none;
  border-radius: 2rem;
}
.button--primary {
  background: rgb(255, 121, 218);
  background: linear-gradient(180deg, rgb(255, 121, 218) 1%, rgb(147, 86, 220) 93%);
  color: #fff;
}

.fonctionnement {
  text-align: left;
  padding: 2rem 1.2rem;
}
.fonctionnement__contain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.2rem;
}
.step__number {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  background-color: #9356DC;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.5em;
  z-index: 1;
}
.step__contain {
  width: 75%;
  padding: 1.5rem;
  box-shadow: 0.1em 10px 20px #b9b9b9;
  border-radius: 1em;
  margin-left: -10px;
  font-size: 0.8em;
}
.step__contain > i {
  margin-left: 5%;
  font-size: 1.5em;
  color: #9f9f9f;
}
.step__contain > span {
  margin-left: 5%;
}

.card {
  background-color: #fff;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  box-shadow: 0.1em 10px 20px #b9b9b9;
}
.card__image {
  position: relative;
}
.card__image > img {
  object-fit: cover;
  width: 100%;
  height: 170px;
}
.card__image__info {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #99E2D0;
  color: #278870;
  padding: 0.5em 0.8rem;
  font-size: 0.8em;
}
.card__description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 1.5rem 0 0.8rem;
  justify-content: space-between;
}
.card__description__title {
  margin: 0.5rem 0;
  font-size: 1.1em;
}
.card__description__icon {
  width: 25px;
  height: 25px;
  position: relative;
  font-size: 1.4em;
  z-index: 1;
}
.card__description__icon > i {
  position: absolute;
  background-color: #fff;
}
.card__description__icon > i:first-child {
  z-index: 1;
}
.card__description__icon > i:first-child:hover {
  animation: hearst 400ms both;
}
.card__description__icon > i:last-child {
  color: #9356DC;
}

.restaurant {
  background-color: #f8f8f8;
  text-align: left;
  padding: 2rem 1.2rem;
}
.restaurant__contain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: left;
  color: #fff;
  background-color: rgb(57, 57, 57);
  padding: 2rem 1.2rem;
}
.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.1em;
}
.footer__list {
  padding: 0;
}
.footer__list > li {
  padding: 0.2rem;
}
.footer__list > li > a {
  color: #fff;
}
.footer__list > li > a > i {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
