.formRecherche{
    &__description{
        @include padding_body;
    }
    &__input{
        @include flex(row,wrap);
        justify-content: center;
        width: 100%;
        height: 3rem;
        box-shadow: inset 0 0.1em 10px lighten($color: map-get($map: $colors, $key: color-gray), $amount: 50);
        background-color: lighten($color: map-get($map: $colors, $key: color-gray), $amount: 70);
        > input{
            background-color: lighten($color: map-get($map: $colors, $key: color-gray), $amount: 70);
            border: 0;
            text-align: center;
            width: 40%;
            &:focus{
                outline: none;
            }
        }
    }
    &__titre{
        font-size: map-get($map: $font_size, $key: headers);
    }
}