.formChoises{
    z-index: 1;
    background-color: lighten($color: map-get($map: $colors, $key: color-gray), $amount: 75);
    text-align: left;
    padding: map-get($map: $padding, $key: body);
    margin-top: -3rem;
    border-radius: 3em 3em 0 0;
    text-align: center;
    @media screen and (min-width:768px) {
        padding: map-get($map: $padding, $key: body-responsive);
    }
    &__header{
        @include flex(row,wrap);
        justify-content: space-between;
        > h1{
            font-family: 'Shrikhand', cursive;
            font-size: map-get($font_size, headers);
            margin: 0;
        }
    }
    &__diner{
        @include margin_BotTop(3rem);
        > hr{
            height: 0.3rem;
            width: 3rem;
            background-color: map-get($map: $colors, $key: color-tertiary);
            border: none;
            margin: 0.5rem 0;
        }
        > span{
            text-align: left;
            font-weight: 100;
            display: block;
            text-transform: uppercase;
            font-size: map-get($font_size, paragraphes);
        }
    }
    > button{
        margin-bottom: 2rem;
    }
}