.header{
    > h1{
        margin: 0;
        padding: 1rem 0.2rem 0.5rem 0.2rem;
    }
    &__icon{
        display: none;
    }
    &__title{
        font-family: 'Shrikhand', cursive;
        font-size: map-get($font_size, logo);
    }
}