.header{
    position: relative;
    &__logo{
        height: 2rem;
        margin: 0;
        padding: map-get($map: $padding, $key: header-logo);
    }
    &__icon{
        position: absolute;
        left: 1.5rem;
        top: 1.2rem;
        font-size: map-get($map: $font_size, $key: icons);
    }
}