.fonctionnement{
    text-align: left;
    @include padding_body;
    &__contain{
        @include flex(column,wrap);
        justify-content: center;
    }
    @media screen and (min-width:768px) {
        padding: 2rem 20%;
    }
}