.fonctionnement{
    text-align: left;
    padding: map-get($map: $padding, $key: body);
    &__contain{
        @include flex(column,wrap);
        justify-content: center;
    }
    @media screen and (min-width:768px) {
        padding: map-get($map: $padding, $key: boby-responsive);
    }
}