.restaurant{
    background-color: lighten($color: map-get($map: $colors, $key: color-gray), $amount: 75);
    text-align: left;
    @include padding_body;
    &__contain{
        @include flex(column,wrap);
        justify-content: center;
    }
}