.restaurant{
    background-color: lighten($color: map-get($map: $colors, $key: color-gray), $amount: 75);
    text-align: left;
    padding: map-get($map: $padding, $key: body);
    &__contain{
        justify-content: center;
        @media screen and (min-width:1200px) {
            @include flex(row,wrap);
        }
    }
    @media screen and (min-width:768px) {
        padding: map-get($map: $padding, $key: boby-responsive);
    }
}